version: 2.1

jobs:
  mirror:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - run:
          name: Push to study repo
          command: |
            git config --global user.name "2_limit"
            git config --global user.email "tidhtidhdldl@naver.com"

            git remote add org https://x-access-token:${ORG_PUSH_PAT}@github.com/SSAFY-15/IM_study_2_limit.git


            git branch -M main
            git push org main --force

workflows:
  mirror-to-org:
    jobs:
      - mirror
